.title {
  font-size: 46px;
  font-weight: 100;
  text-align: center;
  margin-top: 22vh;
  color: #555;
}

.button {
  display: block;
  margin: 15vh auto 0;
}

@media screen and (max-width: 762px) {
  .title {
    font-size: 28px;
  }
}
