.container {
  line-height: 1.6;

  p {
    margin-bottom: 1em;
    line-height: 1.8;
  }

  h3 {
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
  }

  code {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    margin: 0 2px;
  }

  pre {
    background-color: #f9f2f4;
    padding: 6px 26px;
    border-radius: 6px;
    margin-bottom: 1em;
    overflow-x: auto;

    code {
      margin: 0;
      background-color: unset;
    }
  }

  ul {
    padding-left: 20px;
  }
}
