.rc-button {
  border: 0;
  padding: 0 16px;
  line-height: 32px;
  cursor: pointer;
  color: #5c5c5c;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  transition: box-shadow 0.3s cubic-bezier(.4,0,.2,1), color 0.3s;

  &.rc-button-default {
    &:hover {
      box-shadow: 0 -2px 5px 0 rgba(223,200,241,.3), 0 1px 0 0 rgba(223,224,241,.3), 0 1px 1px 0 rgba(162,166,191,.5), 0 2px 4px 0 rgba(228,229,242,.2);
    color: #3ba4f9;
    }
  }

  &.rc-button-primary {
    color: #fff;
    background: linear-gradient(135deg, #00adff, #0167ff);

    &:hover {
      box-shadow: 0 1px 10px 0 rgba(139, 162, 236, 0.2), 0 2px 4px 0 rgba(86, 112, 216, 0.2), 0 4px 5px 0 rgba(71, 96, 196, 0.3);
    }
  }
}
