.button {
  border: 0;
  padding: 0 16px;
  line-height: 32px;
  cursor: pointer;
  color: #5c5c5c;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.3);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
}

:global {
  .rc-button-default {
    &:hover {
      color: #3ba4f9;
    }
  }

  .rc-button-primary {
    color: #fff;
    background: linear-gradient(135deg, #00adff, #0167ff);

    &:hover {
      box-shadow: 0 1px 10px 0 rgba(139, 162, 236, 0.2),
        0 2px 4px 0 rgba(86, 112, 216, 0.2), 0 4px 5px 0 rgba(71, 96, 196, 0.3);
    }
  }
}
