body {
  background: url("./assets/images/bg-banner.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  margin-top: 32vh;
  color: #555;
}

.input {
  display: block;
  margin: 50px auto 0;
  width: 200px;
  height: 30px;
  padding: 2px 14px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  border-radius: 9em;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid #fff;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
  }

  &.error {
    border: 1px solid red;
  }
}
