* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.title {
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  margin-top: 32vh;
  color: #666;
}

.input {
  display: block;
  margin: 50px auto 0;
  width: 200px;
  height: 30px;
  padding: 0 6px;

  &.error {
    outline-color: red;
  }
}
